$dialog_backdrop_background_color: rgba(0,0,0,0.3);
$dialog_backdrop_padding: 50px;

$dialog_video_width: 640px;
$dialog_video_height: 480px;

$dialog_main_padding: 10px;
$dialog_main_max_width: $dialog_video_width + 2 * $dialog_main_padding;
$dialog_main_max_height: $dialog_video_height + 2 * $dialog_main_padding;
$dialog_main_background_color: #EEEEEE;

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $dialog_backdrop_background_color;
  padding: $dialog_backdrop_padding;
}

.dialog-main {
  display: flex;
  flex-direction: column;

  border-radius: 2px;
  background-color: $dialog_main_background_color;
  max-width: $dialog_main_max_width;
  max-height: $dialog_main_max_height;
  margin: 0 auto;
  padding: $dialog_main_padding;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.dialog-video {
}

.dialog-close-btn {
  color: #777;
  font: 14px/100% arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;

  &:after {
    content: '✖'; /* UTF-8 symbol */
  }

  &:hover {
    text-decoration: none;
  }
}
