$background_color: #00504A;

/* Intent: In general, more important info is given brighter color */
$color_brighter: #BBBBBB;
$color_bright: #AAAAAA;
$color_dim: #999999;
$color_dimmer: #888888;


body {
  background: $background_color;
}

.placeholder-text {
  color: $color_brighter;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 95%;
  cursor: pointer;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.description {
  color: $color_bright;
  flex: 1;

  min-height: 100px;
  max-height: 100px;

  /* Showed the scrollbar only when hovered */
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.title {
  color: $color_brighter;
  cursor: pointer;
}

.sub-title {
  color: $color_dim;
}

.year {
  margin-right: 10px;
}

.field {
  color: $color_dimmer;
  vertical-align: text-top;
}

.value {
  /* Intent: Values are more important than the field, hence given a brighter color */;
  color: $color_brighter;
}

$metadata_table_width: 100%;
$metadata_table_field_column_width: 30%;
.metadata-table {
  width: $metadata_table_width;
}

td:first-child {
  width: $metadata_table_field_column_width;
}

td:last-child {
  width: $metadata_table_width - $metadata_table_field_column_width;
}

.slick-dots {
  /* Overriding react-slick lib stylesheet to push the dots further down */
  bottom: -45px;
}
